@mixin h1() {
  @include fluid-attribute(
      map-get($grid-breakpoints, "sm"),
      map-get($grid-breakpoints, "xl"),
      map-get($mobile-font-sizes, "h1"),
      map-get($desktop-font-sizes, "h1"),
      'font-size'
  );
  //margin-bottom: map-get($margins, "sm");
  font-family: map-get($font-families, "h1");
  line-height: map-get($mobile-line-heights, "h1");
  color: map-get($colors, 'a1');
}

@mixin h2() {
  @include fluid-attribute(
      map-get($grid-breakpoints, "sm"),
      map-get($grid-breakpoints, "xl"),
      map-get($mobile-font-sizes, "h2"),
      map-get($desktop-font-sizes, "h2"),
      'font-size'
  );
  //margin-bottom: map-get($margins, "sm");
  font-family: map-get($font-families, "h2");
  line-height: map-get($mobile-line-heights, "h2");
  color: map-get($colors, 'a1');
}

@mixin h3() {
  @include fluid-attribute(
      map-get($grid-breakpoints, "sm"),
      map-get($grid-breakpoints, "xl"),
      map-get($mobile-font-sizes, "h3"),
      map-get($desktop-font-sizes, "h3"),
      'font-size'
  );
  //margin-bottom: map-get($margins, "sm");
  font-family: map-get($font-families, "h3");
  line-height: map-get($mobile-line-heights, "h3");
  color: map-get($colors, 'g1');
}

@mixin h4() {
  @include fluid-attribute(
      map-get($grid-breakpoints, "sm"),
      map-get($grid-breakpoints, "xl"),
      map-get($mobile-font-sizes, "h4"),
      map-get($desktop-font-sizes, "h4"),
      'font-size'
  );
  //margin-bottom: map-get($margins, "sm");
  font-family: map-get($font-families, "h4");
  line-height: map-get($mobile-line-heights, "h4");
  color: map-get($colors, 'g1');
}

@mixin h5() {
  @include fluid-attribute(
      map-get($grid-breakpoints, "sm"),
      map-get($grid-breakpoints, "xl"),
      map-get($mobile-font-sizes, "h5"),
      map-get($desktop-font-sizes, "h5"),
      'font-size'
  );
  //margin-bottom: map-get($margins, "sm");
  font-family: map-get($font-families, "h5");
  line-height: map-get($mobile-line-heights, "h5");
  color: map-get($colors, 'g2');
}

@mixin h6() {
  @include fluid-attribute(
      map-get($grid-breakpoints, "sm"),
      map-get($grid-breakpoints, "xl"),
      map-get($mobile-font-sizes, "h6"),
      map-get($desktop-font-sizes, "h6"),
      'font-size'
  );
  //margin-bottom: map-get($margins, "sm");
  font-family: map-get($font-families, "h6");
  line-height: map-get($mobile-line-heights, "h6");
  color: map-get($colors, 'g2');
}

@mixin field--date() {
  font-size: 1.4rem;
  //margin-bottom: map-get($margins, "sm");
  font-family: map-get($font-families, "h5");
  line-height: map-get($mobile-line-heights, "h5");
  color: map-get($colors, 'g2');
}