//
// Colors
//
$colors: (
  // Primary
  'a1': #0069B4,
  'a2': #0069B4,
  'a3': #0069B4,

  // Secondary
  'b1': #B3C2D1,
  'b2': #B3C2D1,
  'b3': #B3C2D1,

  // Tertiary
  'c1': #DBE3EA,
  'c2': #DBE3EA,
  'c3': #DBE3EA,

  // Success
  's1': #0069B4,
  's2': #0069B4,

  // Warning
  'w1': #ffcc00,
  'w2': #e4b80b,

  // Error
  'e1': #EB5064,
  'e2': #EB5064,

  // Gray
  'g1': #000000,
  'g2': #B4B4B4,
  'g3': #B4B4B4,
  'g4': #B4B4B4,
  'g5': #ffffff,
) !default;

//
// Spacings
//
$base-spacing: 10;
$spacings: (
  'xs': ($base-spacing) * 1px,
  'sm': ($base-spacing) * 2px,
  'md': ($base-spacing) * 6px,
  'lg': ($base-spacing) * 8px,
  'xl': ($base-spacing) * 10px,
) !default;

//
// Font
//
$font-families: (
  light: #{'FFMarkWebProLight', sans-serif},
  medium: #{'FFMarkWebProMedium', sans-serif},
  body: #{'FFMarkWebProLight', sans-serif},
  h1: #{'FFMarkWebProLight', sans-serif},
  h2: #{'FFMarkWebProMedium', sans-serif},
  h3: #{'FFMarkWebProMedium', sans-serif},
  h4: #{'FFMarkWebProMedium', sans-serif},
  h5: #{'FFMarkWebProMedium', sans-serif},
) !default;

$font-weights: (
  light: 200,
  medium: 600,
) !default;

$mobile-font-sizes: (
  body: 1.6rem,

  h1: 8.4rem,
  h2: 4.0rem,
  h3: 2.0rem,
  h4: 1.8rem,
  h5: 1.8rem,
  h6: 1.8rem,
) !default;

$desktop-font-sizes: (
  body: 1.6rem,

  h1: 8.4rem,
  h2: 4.0rem,
  h3: 2.0rem,
  h4: 1.8rem,
  h5: 1.8rem,
  h6: 1.8rem,
) !default;

$mobile-line-heights: (
  body: 1.5,

  h1: 1.19,
  h2: 1.20,
  h3: 1.40,
  h4: 1.555555,
  h5: 1.555555,
  h6: 1.555555,
) !default;

$desktop-line-heights: (
  body: 1.5,

  h1: 1.19,
  h2: 1.20,
  h3: 1.40,
  h4: 1.555555,
  h5: 1.555555,
  h6: 1.555555,
) !default;

$row-gap: 0 !default;