{% extends '@Kitt3nPimcoreCustomIntranetBundle/Resources/views/base.dashboard.html.twig' %}

{% block main_body_inner %}

<div class="component component--form-detail detail">

    <hr>

    <div class="gc c4 md">
        <div class="component component--form">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block members_user_content %}
            {% endblock members_user_content %}
        </div>
        <script>
            var aInputs = document.querySelectorAll('input.form-control');
            if (aInputs.length > 0) {
                for (var i=0; i < aInputs.length; i++) {
                    aInputs[i].setAttribute("value", aInputs[i].value);
                    aInputs[i].addEventListener('keyup', function(){
                        this.setAttribute("value", this.value);
                    });
                }
            }
        </script>

    </div>

</div>


{% endblock %}

