body > aside {
  position: fixed;
  z-index: 9999;

  top: auto; right: 0; bottom: 0; left: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  @media (min-width: $md) {
    top: 0; right: auto; bottom: 0; left: 0;
    grid-template-columns:  1fr;
    grid-template-rows: auto 1fr;
    width: map_get($spacings, 'xl');
  }

  //top: 0; left: 0;
  //height: 100vh;
  padding: (map_get($spacings, 'xs')) (map_get($spacings, 'xs') *2);
  @media (min-width: $md) {
    padding: (map_get($spacings, 'sm') *1.5) 0 0 0;
  }


  //background: yellow;
}

body > aside .logo {
  justify-self: center;
  display: block;
  width: map_get($spacings, 'xs') *0.5 *7;
  height: map_get($spacings, 'xs') *0.5 *7;
  @media (min-width: $md) {
    width: map_get($spacings, 'xs') *5;
    height: map_get($spacings, 'xs') *5;
  }
  background: url(../../icons/19.svg) no-repeat center center;
  background-size: 100%;
}