p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure, figcaption,
fieldset,
legend,
textarea,
pre,
iframe,
table,
hr {
  margin-bottom: map_get($margins, 'sm');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: map_get($margins, 'sm');
}

.h1 {
  @include h1();
}

.h2 {
  @include h2();
}

.h3 {
  @include h3();
}

.h4 {
  @include h4()
}

.h5 {
  @include h5();
}

.h6 {
  @include h6();
}

hr {
  margin-bottom: $gap;
  visibility: hidden;
}