body > #body {
  max-width: calc(100vw - #{map_get($paddings, 'sm')});
  @media (min-width: $md) {
    max-width: calc(100vw - #{map_get($paddings, 'xl')} - #{map_get($paddings, 'sm')});
  }

  min-height: calc(100vh - (#{map_get($paddings, 'xs') *0.5 *15}));
  @media (min-width: $md) {
    min-height: calc(100vh - #{map_get($paddings, 'sm')} - #{map_get($paddings, 'sm')});
  }

  background: map_get($colors, 'b1');
  border-radius: map_get($spacings, 'xs') *1.2;

  margin:
      (map_get($spacings, 'xs') *2)
      (map_get($spacings, 'xs') *2)
      (map_get($spacings, 'xs') *0.5 *11)
      (map_get($spacings, 'xs') *2);
  @media (min-width: $md) {
    margin:
        (map_get($spacings, 'xs') *2)
        (map_get($spacings, 'xs') *2)
        (map_get($spacings, 'xs') *2)
        (map_get($spacings, 'xs') *10);
  }


  -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);
  box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);

  padding-top: $gap;
  padding-bottom: $gap;
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
}

body > #top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: map_get($colors, 'g5');
  height: #{map_get($paddings, 'sm')};
  z-index: 999;
}

body > #bottom {
  position: fixed;
  bottom: 0; right: 0; left: 0;
  background: map_get($colors, 'g5');
  height: map_get($paddings, 'xs') *0.5 *11;
  @media (min-width: $md) {
    height: #{map_get($paddings, 'sm')};
  }
  z-index: 999;
}