//body > header {
//  position: fixed;
//  top: map_get($spacings, 'xs') *3; right: map_get($spacings, 'xs') *3;
//  width: auto; height: auto;
//  z-index: 5;
//
//  background: red;
//}


//body > header {
//  max-width: calc(100vw - #{map_get($paddings, 'xl')} - #{map_get($paddings, 'sm')});
//  //min-height: calc(100vh - #{map_get($paddings, 'sm')} - #{map_get($paddings, 'sm')});
//  background: #145290; //map_get($colors, 'b1');
//
//  border: solid 20px;
//  border-radius: (map_get($spacings, 'xs') *1.2) (map_get($spacings, 'xs') *1.2) 0 0;
//
//  margin: map_get($paddings, 'sm');
//  margin-left: map_get($paddings, 'xl');
//  margin-right: 0;
//  margin-bottom: 0;
//
//  -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
//  -moz-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
//  box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
//
//  padding-top: $gap;
//  padding-bottom: $gap;
//
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 5;
//
//}

body > header {
  font-family: map_get($font-families, 'medium');

  margin: 0 auto;
  padding: 0 ($gap / 2);
  @include mediaQueriesForSingleAttribute(
      'max-width',
      map-get($grid-container-max-width, 'xs'),
      map-get($grid-container-max-width, 'sm'),
      map-get($grid-container-max-width, 'md'),
      map-get($grid-container-max-width, 'lg'),
      map-get($grid-container-max-width, 'xl')
  );

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding:
    map_get($paddings, 'xs') *2
    map_get($paddings, 'xs') *3
    map_get($paddings, 'xs') *5
    map_get($paddings, 'xs') *3;
  @media (min-width: $md) {
    padding:
      map_get($paddings, 'xs') *2
      map_get($paddings, 'xs') *3
      map_get($paddings, 'xs')
      map_get($paddings, 'xs') *0.5 *22;
  }
  height: map_get($paddings, 'xs') *6;

  z-index: 998;

  color: map_get($colors, 'a1');
}

body#dashboard > header {
  height: map_get($paddings, 'xs') *12;
  padding:
    map_get($paddings, 'xs') *2
    map_get($paddings, 'xs') *3
    map_get($paddings, 'xs') *11
    map_get($paddings, 'xs') *3;
  @media (min-width: $md) {
    padding:
      map_get($paddings, 'xs') *2
      map_get($paddings, 'xs') *3
      map_get($paddings, 'xs')
      map_get($paddings, 'xs') *0.5 *22;
  }
}

body > header > .gc {
  background: map_get($colors, 'b1');
}