@font-face {
  font-family: 'FFMarkWebProLight';
  font-weight: map_get($font-weights, 'light');
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/35E0DB_0_0.eot');
  src: url('../../fonts/35E0DB_0_0.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/35E0DB_0_0.woff2') format('woff2'),
  url('../../fonts/35E0DB_0_0.woff') format('woff'),
  url('../../fonts/35E0DB_0_0.ttf') format('truetype');
}
@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: map_get($font-weights, 'medium');
  font-family: 'FFMarkWebProMedium';
  src: url('../../fonts/35E0DB_1_0.eot');
  src: url('../../fonts/35E0DB_1_0.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/35E0DB_1_0.woff2') format('woff2'),
  url('../../fonts/35E0DB_1_0.woff') format('woff'),
  url('../../fonts/35E0DB_1_0.ttf') format('truetype');
}

html {
  @include import-font('');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}