a, a:focus, a:hover {
  text-decoration: none;
}

a.history.history--back {
  position: relative;
  display: inline-block;
  @include h4();
  padding-left: map_get($spacings, 'xs') *3;
  line-height: 1;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    background: url(../../icons/13.1.svg) no-repeat center center;
    background-size: 100%;
    width: map_get($spacings, 'xs') *2;
    height: map_get($spacings, 'xs') *2;
  }
}

button,
a.button.button--register {
  position: relative;
  display: inline-block;
  background: map_get($colors, 'e1'); color: map_get($colors, 'g5');
  padding: map_get($spacings, 'xs') *0.5 map_get($spacings, 'xs') *5 map_get($spacings, 'xs') *0.8 map_get($spacings, 'xs') *5;
  border-radius: map_get($spacings, 'xs') *3;
  line-height: 1;
  font-family: map_get($font-families, 'medium');
  border: none;
  cursor: pointer;
  font-size: inherit;
}

strong {
  font-family: map-get($font-families, 'medium');
  font-weight: normal;
}