body > main {
  //max-width: calc(100vw - #{map_get($paddings, 'xl')} - #{map_get($paddings, 'sm')});
  //min-height: calc(100vh - #{map_get($paddings, 'sm')} - #{map_get($paddings, 'sm')});
  //background: map_get($colors, 'b1');
  //border-radius: map_get($spacings, 'xs') *1.2;
  //
  //margin: map_get($paddings, 'sm');
  //margin-left: map_get($paddings, 'xl');
  //
  //-webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);
  //-moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);
  //box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);
  //
  //padding-top: $gap;
  //padding-bottom: $gap;
  position: relative;
  padding:
    map_get($paddings, 'xs') *6
    map_get($paddings, 'xs') *3
    map_get($paddings, 'xs') *0.5 *11
    map_get($paddings, 'xs') *3;
  @media (min-width: $md) {
    padding:
      map_get($paddings, 'xs') *6
      map_get($paddings, 'xs') *3
      map_get($paddings, 'xs') *3
      map_get($paddings, 'xs') *11;
  }
}

body#dashboard > main {
  padding:
    map_get($paddings, 'xs') *12
    map_get($paddings, 'xs') *3
    map_get($paddings, 'xs') *0.5 *11
    map_get($paddings, 'xs') *3;
  @media (min-width: $md) {
    padding:
      map_get($paddings, 'xs') *12
      map_get($paddings, 'xs') *3
      map_get($paddings, 'xs') *3
      map_get($paddings, 'xs') *11;
  }
}

//body > main .gc {
//  margin-left: 100px;
//}

body > main > .detail {
  margin-top: map_get($margins, 'sm');
  background: map_get($colors, 'g5');
  border-radius: map_get($spacings, 'xs') *1.2;
  padding: $gap;
}
//  max-width: calc(100vw - #{map_get($paddings, 'xl')} - #{(map_get($paddings, 'sm') *3)});
//  min-height: calc(100vh - #{(map_get($paddings, 'sm') *3)} - #{(map_get($paddings, 'sm') *3)});
//  background: map_get($colors, 'g5');
//  border-radius: map_get($spacings, 'xs') *1.2;
//  margin: (map_get($paddings, 'xs') *2) (map_get($paddings, 'xs') *3);
//  padding: $gap;
//}

//body > main > .gc {
//  max-width
//}