.component {

  &.component--announcements  {
    margin: map-get($margins, "sm") 0 map-get($margins, "md") 0;
  }

  &.component--announcements > h2,
  &.component--announcements .headline {
    @include h4();
    margin-bottom: map-get($margins, "xs");
  }

  &.component--announcements > a {
    @include h4();
    margin: map-get($margins, "sm") 0 0 0;
    color: map_get($colors, 'g5');
    display: block;
    text-align: center;
    line-height: 1;
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      background: url(../../icons/12.svg) no-repeat center center;
      background-size: map-get($spacings, "xs") *0.5 *5;
      width: map-get($spacings, "xs") *0.5 *5;
      height: map-get($spacings, "xs") *0.5 *5;
      margin-left: map-get($spacings, "xs");
    }
  }

  &.component--announcement .field.field--title {
    @include h4();
  }

  &.component--announcement .field.field--date {
    @include field--date();
  }

  &.component--announcement-detail {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: map-get($font-families, 'medium');
    }

    .field.field--date {
      @include h6();
      font-size: 1.4rem !important;
    }

    .field.field--title {
      @include h4();
      margin-bottom: map-get($margins, 'md');
    }

  }

}
