.component {
  &.component--box {
    position: relative;
    padding: map_get($paddings, 'xs');
    margin-bottom: map_get($margins, 'xs');
    background: map_get($colors, 'g5');
    border-radius: map_get($spacings, 'xs') *1.2;
    border: solid (map_get($paddings, 'xs') *0.5) map_get($colors, 'g5');
    transform: scale3d(1.0, 1.0, 1.0) perspective(1px) translateZ(0);
    -webkit-filter: blur(0);
    transition: transform ease 0.25s;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    //zoom: 100%;
    //display: inline-table; width: 100%;
    &:hover {
      -webkit-filter: blur(0);
      transform: scale3d(1.025, 1.025, 1.0) perspective(1px) translateZ(0);
      transition: transform ease 0.25s;
      backface-visibility: hidden;
      -webkit-font-smoothing: antialiased;
      //zoom: 100%;
    };
  }
  &.component--box.highlight {
    padding-left: 0;
    border: solid (map_get($paddings, 'xs') *0.5) map_get($colors, 'a1');
    border-left: solid (map_get($paddings, 'lg') *0.75) map_get($colors, 'a1');
    &:after {
      content: "";
      position: absolute;
      top: 0; height: 100%;
      left: map_get($paddings, 'xs') *(-1); width: map_get($paddings, 'xs');
      background: map_get($colors, 'g5');
      border-radius: (map_get($spacings, 'xs') *1.2) 0 0 (map_get($spacings, 'xs') *1.2);
    }
    &:before {
      content: "";
      position: absolute;
      background: url(../../icons/14.svg) no-repeat center center;
      background-size: ((map_get($paddings, 'xs') *0.5) *6);
      top: 0; width: ((map_get($paddings, 'xs') *0.5) *16);
      left: ((map_get($paddings, 'xs') *0.5) *(-15)); height: 100%;
    }
  }

  &.component--box .field.field--date {
    color: map_get($colors, 'g2');
    margin-bottom: map_get($margins, 'xs');
  }

  &.component--box .field.field--title,
  &.component--box .field.field--subtitle {
    color: map_get($colors, 'g1');
  }

  &.component--box .field.field--subtitle {
    font-size: 1.4rem;
  }

}

.component {
  &.component--box {
    .component {
      &.component--tags {
        position: absolute;
        top: map_get($paddings, 'xs');
        right: map_get($paddings, 'xs');
      }
    }
  }
}

.component {
  &.component--box {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
    }
  }
}