.component {

  //&.component--contacts  {
  //  margin: map-get($margins, "sm") 0 map-get($margins, "md") 0;
  //}

  &.component--contacts > h2,
  &.component--contacts .headline {
    @include h4();
    margin-bottom: map-get($margins, "xs");
  }

  &.component--contacts {

    margin: map-get($margins, "sm") 0 map-get($margins, "md") 0;

    div.table {
      border-radius: map_get($spacings, 'xs') *1.2;
      background: map_get($colors, 'g5');
      padding: $gap;
    }

    table {
      width: 100%;
      display: block;
    }

    table > tbody {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: #{map_get($grid-breakpoints, 'md')}) {
        grid-template-columns: 1fr 1fr;
      }
    }

    tr {
      display: block;
      margin-bottom: 20px;
    }

    td {
      display: block;
    }

    @media (min-width: #{map_get($grid-breakpoints, 'xl')}) {
      table {
        display: table;
      }
      table > tbody {
        display: table-row-group;
      }
      tr {
        display: table-row;
        &:nth-child(odd) {
          background: map_get($colors, 'c1');
        }
        &:nth-child(even) {
          td {
            padding: 10px 5px;
          }
        }
      }
      td {
        display: table-cell;
        padding: 5px;
      }

      //.ellipsis {
      //  position: relative;
      //}
      //.ellipsis:before {
      //  content: '&nbsp;';
      //  visibility: hidden;
      //}
      //.ellipsis span {
      //  display: block;
      //  white-space: nowrap;
      //  overflow: hidden;
      //  text-overflow: ellipsis;
      //}
    }

  }
}