.component.component--date-and-time {
  padding-top: map_get($paddings, 'xs');
}

.component.component--date {
  display: inline-block;
}

body#dashboard .component.component--time {
  display: block;
}