.component.component--form {

  padding: 0 0 map_get($paddings, 'sm') 0;

  font-size: map-get($mobile-font-sizes, 'body');
  @media (min-width: $md){
    font-size: map-get($desktop-font-sizes, 'body');
  }

  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: map_get($paddings, 'xs');
    font-size: map-get($mobile-font-sizes, 'body');
    @media (min-width: $md){
      font-size: map-get($desktop-font-sizes, 'body');
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: map_get($colors, 'a1');
      -webkit-box-shadow: 0 0 0px 1000px map_get($colors, 'g5') inset;
    }
  }

  input::placeholder {
    color: solid map_get($colors, 'g2');
  }

  .form-field {
    padding: 0 0 map_get($paddings, 'sm')*2 0;
  }

  .form-field.form-field--input,
  .form-field.form-field--input > .component {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  input[type="text"],
  input[type="password"] {
    border: none;
    border-bottom: solid map_get($colors, 'g1') 1px;
  }

  select:not([value=""]),
  select:focus,
  input:not([value=""]),
  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:not([value=""]),
  textarea:focus {
    outline: none;
    border-bottom: solid map_get($colors, 'g1') 3px !important;
    + label {
      color: map_get($colors, 'g1');
    }
  }

  select:not([value=""]),
  select:focus:not([value=""]),
  input:not([value=""]),
  input[type="text"]:focus:not([value=""]),
  input[type="password"]:focus:not([value=""]),
  textarea:not([value=""]),
  textarea:focus:not([value=""]) {
    color: map_get($colors, 'a1');
    border-bottom: solid map_get($colors, 'a1') 3px !important;
  }

  .form-field.form-field--input.error {
    input[type="text"],
    input[type="password"] {
      border-bottom: solid map_get($colors, 'e1') 3px;
    }
  }

  label {
    font-size: map-get($mobile-font-sizes, 'body') *0.86;
    @media (min-width: $md){
      font-size: map-get($desktop-font-sizes, 'body') *0.86;
    }
    font-family: map_get($font-families, 'medium');
  }

  small.error {
    color: map_get($colors, 'e1');
    display: block;
    ul, li {
      margin: 0;
    }
  }

  .form-field.form-field--input,
  .form-field.form-field--input > .component {
    > label {
      margin-bottom: map-get($margins, 'xs');
    }
  }

  .form-field.form-field--input,
  .form-field.form-field--input > .component {
    input[type="checkbox"],
    input[type="radio"] {
      display: none;
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label,
    {
      cursor: pointer;
      padding: 0 map-get($paddings, 'xs') *3;
      position: relative;
    }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      content: '';
      position: absolute;
      width: map-get($spacings, 'sm');
      height: map-get($spacings, 'sm');
      border: solid 1px map_get($colors, 'a1');
      left: 0;
    }
    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
      content: '';
      position: absolute;
      width: map-get($spacings, 'sm');
      height: map-get($spacings, 'sm');
      border: solid 5px map_get($colors, 'a1');
      background: map_get($colors, 'a1') url(../../icons/check.svg) no-repeat center center;
      background-size: 100%;
      color: white;
      left: 0;
      text-align: center;
    }
    input[type="radio"] + label:before {
      border-radius: 50%;
    }
  }

  .form-field.form-field--checkbox {

    .component.component--checkbox {

      input {
        display: none;
      }
      label {
        cursor: pointer;
        padding-left: 30px;
        position: relative;
        display: inline-block;
        > *:last-child {
          margin-bottom: 0;
        }
        > span.required {
          position: absolute;
        }
        > span.required + * {
          display: inline-block;
          padding-left: map-get($paddings, 'xs');
        }
      }
      label:before {
        content: '';
        position: absolute;
        width: map-get($spacings, 'sm');
        height: map-get($spacings, 'sm');
        border: solid 1px map_get($colors, 'a1');
        left: 0; top: 50%; margin-top: map-get($margins, 'xs') *(-1);
      }
      input:checked + label:before {
        content: '\2714';
        position: absolute;
        width: 20px;
        height: 20px;
        border: solid 1px map_get($colors, 'a1');
        background: map_get($colors, 'a1');
        color: white;
        left: 0; top: 50%; margin-top: -10px;
        text-align: center;
      }

    }

  }

  .form-field.form-field--input {

    .component.component--choice {
      &:after {
        content: "";
        position: absolute;
        right: map-get($spacings, 'xs');
        background: url(../../icons/18.1.svg) no-repeat center center;
        background-size: 100%; width: map-get($spacings, 'sm'); height: map-get($spacings, 'sm');
        bottom: map-get($spacings, 'xs');;
        pointer-events: none;
      }
      select {
        display: block;
        font-size: map-get($mobile-font-sizes, 'body');
        @media (min-width: $md){
          font-size: map-get($desktop-font-sizes, 'body');
        }
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: map-get($paddings, 'xs');
        border-bottom: solid 1px map-get($colors, 'g1');
        background: white;
      }
    }

  }

  .form-field.form-field--input {

    .component.component--text {
      textarea {
        font-family: map-get($font-families, 'light');
        font-size: map-get($desktop-font-sizes, 'body');
        padding: 10px;
        border: solid 1px map-get($colors, 'c3');
        border-bottom: solid 1px map-get($colors, 'g1');
        height: 100px;
      }
    }
  }

}

.component.component--form-detail {
  .field.field--title {
    @include h4();
    margin-bottom: map-get($margins, 'md');
  }
}