.component.component--greeting {
 display: none;
}

body#dashboard .component.component--greeting {
  @media (min-width: $md) {
    display: block;
  }
  > span:first-child {
    @media (min-width: $md) {
      font-size: 3rem;
      line-height: 1;
    }
  }
}