.component {

  &.component--navigation {

    align-self: center;
    justify-self: center;

    a.main {
      display: block;
      width: map_get($spacings, 'xs') *3;
      height: map_get($spacings, 'xs') *3;
      margin-left: map_get($spacings, 'xs') *2;
      @media (min-width: $md) {
        margin-bottom: map_get($margins, 'md');
        margin-left: 0;
      }
    }

    a.main.nav--appointments {
      background: url(../../icons/1.svg) no-repeat center center;
      background-size: 100%;
      color: transparent;
      overflow: hidden;
    }
    li.active a.main.nav--appointments {
      background: url(../../icons/1.w.svg) no-repeat center center;
      background-size: 100%;
    }

    a.main.nav--announcements {
      background: url(../../icons/2.svg) no-repeat center center;
      background-size: 100%;
      color: transparent;
      overflow: hidden;
    }
    li.active a.main.nav--announcements {
      background: url(../../icons/2.w.svg) no-repeat center center;
      background-size: 100%;
    }

    a.main.nav--contacts {
      background: url(../../icons/3.svg) no-repeat center center;
      background-size: 100%;
      color: transparent;
      overflow: hidden;
    }
    li.active a.main.nav--contacts {
      background: url(../../icons/3.w.svg) no-repeat center center;
      background-size: 100%;
    }

    a.main.nav--dashboard {
      background: url(../../icons/7.svg) no-repeat center center;
      background-size: 100%;
      color: transparent;
      overflow: hidden;
    }
    //li.active a.main.nav--dashboard {
    //  background: url(../../icons/7.svg) no-repeat center center;
    //  background-size: 100%;
    //}

    ul {
      margin-bottom: 0;
    }
    li {
      position: relative;
      display: inline-block;
      @media (min-width: $md) {
        display: block;
      }
      margin-bottom: 0;
      &:first-child a.main {
        margin-left: 0;
      }
    }

    li.active:after {
      content: "";
      position: absolute;
      background: map_get($colors, 'b1');
      -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);
      -moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);
      box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.05);
      width: 85px;
      height: 50px;
      border-radius: 25px 0 0 25px;
      top: -10px; left: -20px;
      z-index: -1;
    }

  }

  &.component--navigation1 {

    position: absolute;
    top: map_get($spacings, 'xs') *3;
    right: map_get($spacings, 'xs') *3;

    .login {
      display: inline-block;
      background: url(../../icons/20.1.svg) no-repeat center center;
      width: 25px;
      height: 25px;
      background-size: 100%;
      color: transparent; overflow: hidden;
    }

    .logout {
      display: inline-block;
      background: url(../../icons/20.2.svg) no-repeat center center;
      width: 25px;
      height: 25px;
      background-size: 100%;
      color: transparent; overflow: hidden;
    }

  }

}