.component {
  &.component--pagination {
    > form {
      display: inline-block;
    }
  }
  &.component--pagination {
    > form button {
      position: relative;
      display: inline-block;
      border: none;
      background: transparent;
      color: map_get($colors, 'g1');
      font-family: map_get($font-families, 'medium');
      line-height: 1; padding: 0 5px;
      cursor: pointer;
      &:disabled {
        opacity: 0.25;
        cursor: default;
      }
      &:focus {
        outline: none;
        text-decoration: underline;
      }
    }
  }

  &.component--pagination {
    > form.first button {
      color: transparent;
      background: url(../../icons/15.1.svg) no-repeat center center;
      width: 12px; height: auto; background-size: 100%;
      margin-right: 10px;

    }
  }

  &.component--pagination {
    > form.prev button {
      color: transparent;
      background: url(../../icons/15.svg) no-repeat center center;
      width: 12px; height: auto; background-size: 100%;
    }
  }

  &.component--pagination {
    > form.next button {
      color: transparent;
      background: url(../../icons/16.svg) no-repeat center center;
      width: 12px; height: auto; background-size: 100%;
    }
  }

  &.component--pagination {
    > form.last button {
      color: transparent;
      background: url(../../icons/16.1.svg) no-repeat center center;
      width: 12px; height: auto; background-size: 100%;
      margin-left: 10px;
    }
  }

  &.component--pagination {
    > form.active button {
      color: map_get($colors, 'a1');
      &:disabled {
        opacity: 1;
      }
    }
  }

}