.component {

  &.component--searchform {

    .component.component--searchbar {

      position: relative;

      input[type='text'] {
        width: 100%;
        background: map_get($colors, 'g5');
        border: none;

        padding: map_get($paddings, "xs");
        border-radius: map_get($paddings, "xs") *0.5 *1.1;
        @include h5();
        &::placeholder {
          color: map_get($colors, 'g2');
          opacity: 1; /* Firefox */
        }
        &:-ms-input-placeholder {
          color: map_get($colors, 'g2');
        }
        &::-ms-input-placeholder {
          color: map_get($colors, 'g2');
        }
        &:-webkit-autofill {
          color: map_get($colors, 'g2');
          background: map_get($colors, 'g5');
          border: none;
        }
      }
      button {
        position: absolute;
        top: 0; right: 0;
        z-index: 2;
        height: 100%;
        background: transparent;
        border: none;
        overflow: hidden;
        cursor: pointer;
        background: url(../../icons/21.svg) no-repeat center center;
        background-size: 50%;
        > span {
          visibility: hidden;
        }
      }

      &.variant--1 {
        margin-bottom: $gap;

        input[type='text'] {
          padding: map_get($paddings, "sm");
          border-radius: map_get($paddings, "xs") *1.2;
          @include h3();
          color: map_get($colors, 'e1');
          &::placeholder {
            color: map_get($colors, 'e1');
            opacity: 1; /* Firefox */
          }
          &:-ms-input-placeholder {
            color: map_get($colors, 'e1');
          }
          &::-ms-input-placeholder {
            color: map_get($colors, 'e1');
          }
          //&:-webkit-autofill{
          //  color: map_get($colors, 'e1');
          //  background: map_get($colors, 'g5');
          //  border: none;
          //}
          //&:-webkit-autofill:hover{
          //  color: map_get($colors, 'e1');
          //  background: map_get($colors, 'g5');
          //  border: none;
          //}
          //&:-webkit-autofill:focus {
          //  color: map_get($colors, 'e1');
          //  background: map_get($colors, 'g5');
          //  border: none;
          //}

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus {
            -webkit-text-fill-color: map_get($colors, 'e1');;
            -webkit-box-shadow: 0 0 0px 1000px map_get($colors, 'g5') inset;
            //transition: background-color 5000s ease-in-out 0s;
          }

        }
        button {
          background: url(../../icons/17.svg) no-repeat center center;
          background-size: (map_get($paddings, "xs") *3);
          padding: 0 map_get($paddings, "xs");
          > span {
            visibility: hidden;
          }
        }
      }

    }

  }

  &.component--searchform {

    select {
      padding: 10px;
      border: none;
      background: white;
      margin-bottom: $gap/2;
      border-radius: (map_get($paddings, "xs") *0.5 *1.1);
    }

    > form > button {
      background: map_get($colors, 'a1');
      color: map_get($colors, 'g5');
      border: none;
      padding: (map_get($paddings, "xs") *0.5) map_get($paddings, "sm");
      border-radius: (map_get($paddings, "xs") *0.5 *1.1);
      text-align: right;
    }

  }

}