.component.component--signatures {
  display: flex;
  flex-wrap: wrap;
  li {
    padding: map_get($paddings, 'xs');
    flex: 0 0 66%;
    max-width: 66%;
    @media (min-width: $sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media (min-width: $md) {
      flex: 0 0 33%;
      max-width: 33%;
    }
  }
}

//.component.component--signatures {
//  .component.component--signature {
//    strong {
//      display: inline-block;
//      border-top: solid 1px map-get($colors, 'c1');
//    }
//  }
//}