.component {
  .component--tags {
    margin: 0;
  }

  .component--tag {
    margin: 0;
    position: relative;
    display: inline-block;
  }

  .component--tag > span,
  .component--tag button > span {
    display: inline-block;
    padding: 0 map_get($spacings, 'xs');
    font-family: map_get($font-families, 'medium');
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: map_get($spacings, 'xs') / 2;
  }
  .component--tag button {
    border: none;
    padding: 0;
  }
}

.component {
  form.component--tags {
    background: white;
    padding: map_get($paddings, 'xs');
    border-radius: map_get($spacings, 'xs') *1.2;

    label {
      cursor: pointer;
      > input {
        display: none;
        //&:hover + .component--tag > span,
        &:checked + .component--tag > span {
          &:after {
            content: '';
            position: absolute;
            top: map_get($spacings, 'xs') *(-0.6);
            right: map_get($spacings, 'xs') *(-0.6);
            width: map_get($spacings, 'xs') *2;
            height: map_get($spacings, 'xs') *2;
            background: url(../../icons/remove.svg) no-repeat center center;
            background-size: 100%;
            z-index: 2;
          }
          //-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,1);
          //-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,1);
          //box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,1);
        }
      }
    }

    .component--tag {
      margin: 0 map_get($margins, 'xs') *0.5 map_get($margins, 'xs') *0.5 0;
      position: relative;
      display: inline-block;
    }
  }
}