{% extends '@Kitt3nPimcoreIntranetBundle/Resources/views/base.c9-3.html.twig' %}

{% block head_link %}
    <!-- block head_link { -->
    {{ include('@HechingerPimcoreIntranetBundle/shared/partials/blocks/head/head_link.html.twig') }}
    <!-- } block head_link -->
{% endblock %}
